* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #d9d9d9;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
}
header.scrolled {
  transition: 0.5s ease-in-out;
  background: #242424;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .logo {
    transition: 0.5s;
    height: 80px;
  }

  .header-text-container {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
  }
  .header-text-container:hover {
    transition: 0.3s;
    font-size: 2.3rem;
    color: #0098ee;
  }
}

header nav {
  display: flex;
  align-items: center;
}

.logo {
  height: 120px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-text-container {
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.header-text-container:hover {
  transition: 0.3s;
  font-size: 3rem;
  text-decoration: none;
  color: #0098ee;
  -webkit-text-stroke: 1px black;
}

.main-content {
  height: 100vh;
  background-image: linear-gradient(#24242452, #3e3e3ea6),
    url("../img/background-praia.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-h1-container {
  display: flex;
}

.h1-container {
  font-size: 7rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

#onda-h1-content {
  color: #0098ee;
}

.main-content h2 {
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

#parceiros {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 170vh;
}

#parceiros-ongs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
}

#ongs-parceiras-h1 {
  color: #0098ee;
}

.ongs-container {
  width: 90%;
  display: flex;
  align-items: center;
  height: 550px;
  overflow: auto;
  gap: 20px;
}
.ongs-container::-webkit-scrollbar {
  width: 10px;
}
.ongs-container::-webkit-scrollbar-thumb {
  background-color: #94bfff;
  border-radius: 10px;
}

.ong-card {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #94bfff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
  text-align: center;
}

.ong-img {
  max-height: 300px;
  border-radius: 10px;
}

.cadastro-ong-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#titulo-cadastro {
  width: 40%;
  color: #0098ee;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

form {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #94bfff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-container-ong {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#create-ong-submit {
  width: 60%;
  height: 50px;
  background-color: #0098ee;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#create-ong-submit:hover {
  transition: 0.3s;
  width: 65%;
  height: 55px;
  background-color: #0077cc;
}

form h2 {
  font-size: 2rem;
  font-weight: 500;
}

form input {
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0 10px;
  outline: none;
}

.input-container-ong {
  width: 90%;
}

.slide {
  display: none;
  width: 100%;
  height: 100vh;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.slide.active {
  display: block;
  opacity: 1;
}

.mission-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mission-container p {
  width: 40%;
  text-align: center;
  font-size: 1.6rem;
  color: #808080;
  font-weight: 500;
}

#slide-2 .mission-container p {
  width: 40%;
  text-align: center;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 500;
}

#slide-3 .h1-mission-and-values {
  color: whitesmoke;
}

.h1-mission-and-values {
  color: #0098ee;
  font-size: 6rem;
  -webkit-text-stroke: 1px black;
  text-align: center;
}

#slide-2 {
  background-color: #94bfff;
}

#slide-3 {
  background-color: #0098ee;
}

#slide-3 h2 {
  color: whitesmoke;
}

#slide-3 p {
  color: whitesmoke;
}

.values-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.values {
  display: flex;
  justify-content: center;
}

.indicator {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.indicator.active {
  background-color: #717171;
}

.values {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projeto {
  height: 60vh;
}

.h1-about-project {
  color: #0098ee;
  font-size: 6rem;
  -webkit-text-stroke: 1px black;
  text-align: center;
}

.about-project-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about-project-container p {
  width: 80%;
  text-align: center;
  font-size: 1.3rem;
}
